
table {
  width: 100%;
}

th {
  border-bottom: 0.5px solid #dddddd;
  text-align: left;
  padding: 8px;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
}

td {
  text-align: left;
  padding: 8px;
  align-items: center;
} 

 tr:nth-child(2n){
  background-color: #f2f2f2;
}
/*
td:nth-child(1){
  width: 20%;
}
td:nth-child(2){
  width: 20%;
}
td:nth-child(3){
  width: 20%;
}
td:nth-child(4){
  width: 40%;
} */

@media screen and (max-width: 480px) {
  thead {
    display: none;
  }
  td {
    display: flex;
    flex-direction: column;
    text-align: center
  }
}